header {
	background-image: url('https://trax.acrothemes.com/bootstrap-v5/images/banner1-4.jpg');
	@include image-position();
	height: 600px;
	position: relative;

	&::after {
		content: '';
		background-color: black;
		width: 100%;
		height: 100%;
		opacity: 50%;
		position: absolute;
	}

	.header__navbar__flex {
		position: fixed;
		width: 100%;
		height: 70px;
		z-index: 9999999;
		background-color: black;
		opacity: 80%;
		.left__side {
			margin-left: 80px;
			a {
				img {
					width: 90px;
					height: 40px;
				}
				transition: all 0.3s ease-in-out;

				&:hover {
					color: #ffffff57;
				}
			}
		}
		.right__side {
			ul {
				li {
					display: inline-block;
					a {
						align-items: center;
						text-decoration: none;
						font-weight: 100;
						letter-spacing: 2px;
						transition: 0.3s;
						color: #ffffff;
						text-transform: uppercase;
						font-size: 10px;
						position: relative;
						padding: 15px 10px;
						margin-left: 10px;
						z-index: 1;

						&:hover {
							color: #ffffffaf;
						}
					}
				}
			}
		}
	}

	.row {
		@include flex-sb();
		padding: 20px 25px;
	}

	.context {
		color: #ffffff;
		position: absolute;
		text-align: center;
		align-items: center;
		top: 30%;
		left: 40%;
		z-index: 1;
		h1 {
			font-weight: 100;
			padding: 5px;
			font-size: 24px;
			letter-spacing: 5px;
		}
		h2 {
			font-weight: 900;
			padding: 5px;
			font-size: 30px;
			letter-spacing: 5px;
		}
		h4 {
			font-weight: 100;
			padding: 5px;
			font-size: 10px;
			letter-spacing: 1px;
			color: rgba(255, 255, 255, 0.452);
		}
	}
	.social-icon {
		position: absolute;
		right: 20px;
		top: 30%;
		z-index: 1;

		a {
			width: 30px;
			height: 30px;
			display: block;
			margin: 15px;
			color: white;
			border-radius: 50%;
			padding: 5px;
			text-align: center;
			align-items: center;
			transition: 0.5s;
			&:hover {
				&.facebook-color {
					background-color: #0d6efd;
				}
				&.twitter-color {
					background-color: #0d6efd;
				}
				&.linkedin-color {
					background-color: #0d6efd;
				}
				&.instagram-color {
					background: radial-gradient(
						circle at 30% 107%,
						#fdf497 0%,
						#fdf497 5%,
						#fd5949 45%,
						#d6249f 60%,
						#285aeb 90%
					) !important;
				}
			}
			i {
				font-size: 15px;
				background: transparent;
			}
		}
	}
}
