header {
	.header__navbar__flex {
		@include flex-sb();
		padding: 20px 25px;
		// position: static;
		width: 100%;
		height: 70px;
		z-index: 9999999;
		background-color: black;
		opacity: 98%;
		transition: 1s;
	
		.left__side {
			a {
				transition: all 0.3s ease-in-out;
				img {
					width: 90px;
					height: 40px;
				}

				&:hover {
					color: #f09d9d57;
				}
			}
		}
		.right__side {
			text-align: right;
			ul {
				li {
					display: inline-block;
					a {
						align-items: center;
						text-decoration: none;
						font-weight: 100;
						letter-spacing: 2px;
						transition: 0.3s;
						color: #ffffff;
						text-transform: uppercase;
						font-size: 10px;
						padding: 15px 10px;
						margin-left: 10px;

						&:hover {
							color: #e48181af;
						}
					}
				}
			}
		}
	}
}
