#slide {
	background-image: url('https://trax.acrothemes.com/bootstrap-v5/images/banner1-4.jpg');
	@include image-position();
	height: 100vh;
	width: 100%;
	position: relative;
	@include flex-sb($justify-content:space-between);

	.left-side-numeric {
		color: white;
		font-size: 18px;
		z-index: 1;
		ul {
			li {
				border-radius: 50%;
				overflow: hidden;
				margin: 5px;
				cursor: pointer;
				width: 30px;
				height: 30px;
                text-align: center;
                align-items: center;
				&:hover {
					background-color: white;
					color: black;
				}
			}
		}
	}
	.context {
		color: #ffffff;
		text-align: center;
		// align-items: center;
		// top: 30%;
		// left: 40%;
		z-index: 1;
		h1 {
			font-weight: 100;
			padding: 5px;
			font-size: 24px;
			letter-spacing: 5px;
		}
		h2 {
			font-weight: 900;
			padding: 5px;
			font-size: 30px;
			letter-spacing: 5px;
		}
		h4 {
			font-weight: 100;
			padding: 5px;
			font-size: 10px;
			letter-spacing: 1px;
			color: rgba(255, 255, 255, 0.452);
		}
	}

	.social-icon {
		padding-left: 50px;
		z-index: 1;
		a {
			text-align: center;
			align-items: center;
			width: 30px;
			height: 30px;
			display: block;
			color: white;
			border-radius: 50%;
			padding: 5px;
			transition: 0.5s;
			&:hover {
				&.facebook-color {
					background-color: #0d6efd;
				}
				&.twitter-color {
					background-color: #0d6efd;
				}
				&.linkedin-color {
					background-color: #0d6efd;
				}
				&.instagram-color {
					background: radial-gradient(
						circle at 30% 107%,
						#fdf497 0%,
						#fdf497 5%,
						#fd5949 45%,
						#d6249f 60%,
						#285aeb 90%
					) !important;
				}
			}
			i {
				font-size: 15px;
				background: transparent;
			}
		}
	}
	&::after {
		content: '';
		background-color: black;
		width: 100%;
		height: 100%;
		opacity: 50%;
		position: absolute;
	}
}
