#we-started {
	padding: 80px 0;
	background-image: url('https://trax.acrothemes.com/bootstrap-v5/images/counter-bg.jpg');
	@include image-position($background-position: top);
	background-attachment: fixed;
	height: 50vh;
	width: 100%;
	.container {
		.row {
			@include flex-sb();
			.col-4 {
				color: white;
				text-align: center;
				h2 {
					font-size: 80px;
					letter-spacing: 2px;
				}
				h3 {
					letter-spacing: 2px;
				}
				p {
					line-height: 25px;
					padding: 20px;
				}
			}
		}
	}
}
