#what-people-say {
	padding: 80px 0;

	.context {
		background-image: url('https://trax.acrothemes.com/bootstrap-v5/images/testimonial-bg.jpg');
		@include image-position($background-position: top);
		background-attachment: fixed;
		height: 300px;
		width: 100%;
		@include flex-sb($justify-content: center,$align-items: flex-start);
		flex-direction: column;

		h2 {
			text-align: right;
			font-size: 40px;
			color: white;
			letter-spacing: 4px;
			width: 100%;
			padding: 0 50px;
		}
		h4 {
			text-align: right;
			color: white;
			letter-spacing: 1px;
			width: 100%;
			padding: 0 50px;
		}
	}
	.container {
		.row {
			@include flex-sb();
			transform: translateY(-50%);
			.left-side {
				@include flex-sb($justify-content: center);
				flex-direction: column;
			}
			.right-side {
				padding-top: 200px;
				&__context{
					p {
						color: #808080;
					}
				}
				&__feedback{
					padding-top: 20px;
					span {
						i {
							font-size: small;
							color: gold;
							cursor: pointer;
						}
					}
				}
			}
			.image {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				overflow: hidden;
				img {
					transition: .5s;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
			.context-image {
				text-align: center;
				opacity: 70%;
				h3 {
					color: #0d6efd;
					padding-top: 10px;
				}
				h4 {
					color: #384141;
					padding-top: 5px;
				}
			}
		}
	}
}
