#what-people-say {
	padding: 80px 0;
	background-image: url('https://trax.acrothemes.com/bootstrap-v5/images/testimonial-bg.jpg');
	@include image-position($background-position: top);
	background-attachment: fixed;
	height: 50vh;
	width: 100%;
    position: relative;
	.container {
        position: absolute;

		.row {
            .left-side{
                text-align: center;
            }
            .right-side{
                text-align: left;
                align-items: flex-end;
                p{
                    padding-top: 120px;
                    color: #808080;
                    padding-bottom: 30px;
                }
                span{
                    i{
                        font-size: small;
                        color: gold;
                        cursor: pointer;
                    }
                }
            }
			@include flex-sb();
			.image {
				margin-top: 40px;
				width: 200px;
				height: 200px;
                transform: translateX(45%);
				border-radius: 50%;
				overflow: hidden;
                img{
                    transition: .5s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
			}
			.context-image {
				text-align: center;
				h3 {
					color: #0d6efd;
					padding-top: 10px;
				}
				h4 {
					color: #384141;
					padding-top: 5px;
				}
			}
		}
		.context {
			text-align: right;
			h2 {
				font-size: 40px;
				color: white;
				letter-spacing: 4px;
			}
			h4 {
				color: white;
				letter-spacing: 1px;
			}
		}
	}
}
